/* Imports */
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(/static/font-awesome/css/font-awesome.min.css);



/* Body */


	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}



/*
	Header
*****************/

a.navbar-brand img {
	width: 20px;
	height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee', cursive, serif;
  color: #55d4d4;
}

h1 a, h1 a:hover, h1 a:visited, h2 a, h2 a:hover, h2 a:visited, h3 a, h3 a:hover, h3 a:visited, h4 a, h4 a:hover, h4 a:visited, h5 a, h5 a:hover, h5 a:visited, h6 a, h6 a:hover, h6 a:visited {
	color: #55d4d4;
}

h1.hero-brand {
	font-size: 3.6em;
}
h1.hero-brand a {
	text-decoration: none;
}

a img.header-image {
	padding: 1em 0;
	margin: 0;
}
img.header-image {
	padding: 1em 0;
	margin: 0;
	max-width: 100%; /* or to whatever you want here */
	max-height: auto; /* or to whatever you want here */
}




/*
	Navigation
*****************/





/*
	Featured Article
*****************/
section.latest-article {
	padding-bottom: 3em;
}
.published-date {
	margin: 0 0 .5em;
}




/*
	Otner Article
*****************/
section.article {
	padding: 2em 0;
	border-top: 1px solid #ddd;
}

.html-player {
	margin: 2em 0 0 0;
	/*border: 2px solid #ddd;*/
}



/*
	Detail Page 
*****************/
h1.entry-title {
	font-size: 2em;
}



/*
	Pagination
*****************/
.pagination-section {
	padding: 1em 0;
}



/*
	Footer
*****************/

footer {
	padding: 2.5em 0;
	text-align: center;
}



